body {
	margin: 0;
	padding: 0;
	background: #25336C;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #000000;
}

h1
{
	font-style:italic;
}

textarea {
  height: 100px;
}

.post_title, .comment_title
{
	font-weight:bold;
}

.post_info, .comment_info, .administer
{
	font-style:italic;
	font-size: 10px;
}

p .post_body, .comment_body
{
	font-style:italic;
}

#top
{
	background: #D3D9F0;
	width: 100%;
}

#nav 
{
	text-align:right;
	padding-right: 10px;
	font-weight:bold;
	font-style:italic;

}

#facebook 
{
	padding-left: 10px;
}

#menu 
{
	font-style:italic;
	text-align:center;
	font-weight:bold;
	background: #D3D9F0;
}

#notice {
	text-align:center;
	color: #ADB8E3;
}

#main {
	margin: 20px;
	padding: 10px;
	background: #D3D9F0;
}
